@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-top: 5%;
  text-align: center;
  color: blue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
}

.vl {
  border-left: 25px solid blue;
  height: 785px;
  margin-left: 20%;
}

.hl {
  border-top: 25px solid blue;
  margin-top: -368px;
}

::selection {
  color: #fff;
  background: #007bff;
}

/*.aloita_btn,
.tieto_laatikko .koe_laatikko .tulos_laatikko {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 04px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/

.tieto_laatikko.activeTieto,
.koe_laatikko.activeKoe {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.aloita_btn button {
  font-size: 25px;
  font-weight: bold;
  color: blue;
  padding: 18px 15px;
  border-radius: 5px;
  border: none;
  border-bottom: 15px solid blue;
  background: white;
  cursor: pointer;
  position: absolute;
  top: 49%;
  left: 50%;
  z-index: 1;
  transition: all 0.9s ease;
  transform: translate(-50%, -50%) scale(1);
}

.aloita_btn button:hover {
  color: blue;
  background: lightblue;
  border-bottom: 15px solid blue;
}

.tieto_laatikko {
  width: 540px;
  background: #fff;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 20%;
  opacity: 0;
  transition: all 0.9s ease;
  transform: translate(-50%, -50%) scale(0);
}

.tieto_laatikko .tieto_otsikko {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: blue;
}

.tieto_laatikko .tieto_lista {
  padding: 15px 35px;
}

.tieto_laatikko .tieto_lista .tieto {
  margin: 5px 0;
  font-size: 17px;
}

.tieto_laatikko .tieto_lista .tieto span {
  font-weight: 600;
  color: red;
}

.tieto_laatikko .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid lightgray;
  color: white;
  background-color: blue;
}

.tieto_laatikko .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  outline: none;
  border: 1px solid #007bff;
  background: #007bff;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons button.jatka {
  color: blue;
  background: white;
  font-weight: bold;
}

.buttons button.jatka:hover {
  background: lightblue;
}

.buttons button.lopeta {
  color: blue;
  background: white;
  font-weight: bold;
}

.buttons button.lopeta:hover {
  background: lightblue;
}

.koe_laatikko {
  transform: translate(-50%, -50%) scale(0.9);
  width: 650px;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.9s ease;
  position: fixed;
  transition: all 0.9s ease;
  transform: translate(-50%, -50%) scale(0);
}

.koe_laatikko header {
  position: relative;
  z-index: 99;
  height: 70px;
  padding: 0 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: blue;
}

.koe_laatikko header .otsikko {
  font-size: 20px;
  font-weight: bold;
}

.koe_laatikko header .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 45px;
  background: white;
  border: 1px solid #b8daff;
  border-radius: 5px;
  padding: 0 8px;
}

.koe_laatikko header .timer .aika_teksti {
  font-weight: bold;
  font-size: 17px;
  user-select: none;
  color: blue;
  width: 80%;
}

.koe_laatikko header .timer .aika_sek {
  font-size: 18px;
  font-weight: 500;
  background: white;
  height: 30px;
  width: 40px;
  color: blue;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border: 1.5px solid blue;
  user-select: none;
}

.koe_laatikko section {
  padding: 25px 30px 20px 30px;
  background: white;
}

.koe_laatikko section .kysymys_teksti {
  font-size: 25px;
  font-weight: 600;
}

.koe_laatikko section .vaihtoehdot_lista {
  padding: 20px 0;
  display: block;
}

section .vaihtoehdot_lista .vaihtoehto {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 15px;

  cursor: pointer;
}

section .vaihtoehdot_lista .vaihtoehto:hover {
  color: #004085;
  background: #cce5ff;
  border-color: #b8daff;
}

.vaihtoehdot_lista .vaihtoehto.oikein {
  border-color: green;
  color: green;
  background: lightgreen;
}

.vaihtoehdot_lista .vaihtoehto.vaarin {
  border-color: red;
  color: red;
  background: #f8d7da;
}

.vaihtoehdot_lista .vaihtoehto.disabled {
  pointer-events: none;
}

footer {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  color: white;
  background-color: blue;
}

footer .yhteensa span {
  display: flex;
  user-select: none;
}

footer .yhteensa span p {
  font-weight: 500;
  padding: 0 5px;
}

footer .yhteensa span p:first-child {
  padding-left: 0px;
}

footer .seuraava_btn {
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-right: 0px;
  display: none;
  color: blue;
  background: white;
  font-weight: bold;
}

footer .seuraava_btn:hover {
  background: lightblue;
}
